In [20]:
text = "Hello world"

In [21]:
print(text.isdigit())
print('1973'.strip().isdigit())
# strip pasalina tarpus nuo sonu

False
True

In [22]:
text_2 = 'My name is Domas'
print(text_2.upper())
print(text_2.lower())
print(text_2.capitalize())
print(text_2.count('Domas'))
print(text_2.find('Domas'))
print(text_2[0:text_2.find('Domas')])
print(text_2[0:text_2.find('Domas')+len('Domas')])

MY NAME IS DOMAS
my name is domas
My name is domas
1
11
My name is
My name is Domas

In [23]:
'Domas' + ' ' 'Matulis'

'Domas Matulis'

In [24]:
'Domas' + ' ' 'Matulis'

'Domas Matulis'

In [25]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [26]:
name = 'Domas'
surname = 'Matulis'
number = 51
print(name + ' ' + surname + '', 'meow meow')     
print(f'{name} {surname}, nice to meet you')

Domas Matulis meow meow
Domas Matulis, nice to meet you

In [34]:
name = 'Domas'
surname = "Matulis"
print(f'{name} {surname}')

Domas Matulis

In [35]:
text = 'Python makes me really really happy!'
print(text.capitalize())
print(text.replace('Python', 'PyThOn'))

Python makes me really really happy!
PyThOn makes me really really happy!

In [40]:
text = 'Hello World, I am happy to learn Python!'
print(text[18:23])
print(text[text.find('happy'):text.find('happy') + len('happy')])

happy
happy

### NUMBERS

In [ ]:
number = 32156
float_number = 32132.41

In [41]:
print(type(number))

<class 'int'>

# operations

In [45]:
number = 32156
float_number = 32132.41
suma = number + float_number
print(f'{suma} yra {type(suma)}')

64288.41 yra <class 'float'>

In [46]:
a = 384000
b = 150000000
print(b / a)

390.625

In [50]:
from datetime import datetime
birthday = datetime(1991, 12, 3)
now = datetime.now()
time_passed = now - birthday
print(time_passed.days)

11230

# list

In [51]:
cities = ['Vilnius', 'Kaunas', 'Klaipeda']

In [52]:
print(cities[0])
print(cities[-1])

Vilnius
Klaipeda

In [53]:
numbers = [1,2,3,4,5]
numbers.append(500)
print(numbers)

[1, 2, 3, 4, 5, 500]

In [54]:
numbers.insert(2, 1000)

In [55]:
print(numbers)

[1, 2, 1000, 3, 4, 5, 500]

In [57]:
print(numbers.pop())

500

In [58]:
print(numbers.remove(1000))
print(numbers)

None
[1, 2, 3, 4, 5]

In [59]:
numbers.extend([999, 998])
print(numbers)

[1, 2, 3, 4, 5, 999, 998]

In [61]:
print(numbers[-1])
print(type(numbers[-1]))

998
<class 'int'>

In [62]:
print(numbers.reverse())
print(numbers)

None
[998, 999, 5, 4, 3, 2, 1]

In [63]:
print(numbers[::-1])

[1, 2, 3, 4, 5, 999, 998]

In [64]:
numbers.sort(reverse=True)
print(numbers)

[1, 2, 3, 4, 5, 998, 999]

In [65]:
print(sorted(numbers, reverse=False))

[1, 2, 3, 4, 5, 998, 999]

In [4]:
# ND kaip idet i list zodi 
shopping_cart = ['Apples', 'Oranges', 'Bananas']
Shopping_cart_2 = ['Razor', 'TP']
print(len(shopping_cart))
shopping_cart.append('TP')
print(shopping_cart)

# print(if('Apples'in.shopping_cart))
# print("Yes, 'Apples' is found in shopping_cart:" , shopping_cart)


final_list = shopping_cart + Shopping_cart_2
print(final_list)

(final_list.remove('TP'))
print(final_list)

final_list.sort()
print(final_list)

final_list.count('Apples')

3
['Apples', 'Oranges', 'Bananas', 'TP']
['Apples', 'Oranges', 'Bananas', 'TP', 'Razor', 'TP']
['Apples', 'Oranges', 'Bananas', 'Razor', 'TP']
['Apples', 'Bananas', 'Oranges', 'Razor', 'TP']

1