# mutable and immutable variables
https://medium.com/@meghamohan/mutable-and-immutable-side-of-python-c2145cf72747

In [6]:
# immutable variable:
a = 1
b = a
print ('pries')
print( id(a) )
print( id(b) )
b += 5
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2100277870832
2100277870832
po
2100277870832
2100277870992
1
6

In [10]:
# mutable variable:
a = [1,2,3]
b = a
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2100357995968
2100357995968
po
2100357995968
2100357995968
[1, 2, 3, 10]
[1, 2, 3, 10]

In [12]:
# fixing mutable variable #1
a = [1,2,3]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b.append(10)
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2100359314944
2100359307136
po
2100359314944
2100359307136
[1, 2, 3]
[1, 2, 3, 10]

In [14]:
# where fix #1 doesn't work
a = [1,2, [ 'a', 'b' ] ]
b = a.copy()
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2100359418816
2100359419456
po
2100359418816
2100359419456
[1, 2, ['a', 'b', 'c']]
[1, 2, ['a', 'b', 'c']]

In [15]:
# fixing mutable variable #2
import copy
a = [1,2, [ 'a', 'b' ] ]
b = copy.deepcopy(a)
print ('pries')
print( id(a) )
print( id(b) )
b[-1].append( 'c' )
print ('po')
print( id(a) )
print( id(b) )
print (a)
print (b)

pries
2100359420864
2100359420032
po
2100359420864
2100359420032
[1, 2, ['a', 'b']]
[1, 2, ['a', 'b', 'c']]

# Tuple

In [17]:
my_tuple = ( 1,3,5 )
print (type( my_tuple ))

<class 'tuple'>

In [18]:
my_tuple + 5

TypeError: can only concatenate tuple (not "int") to tuple

In [20]:
print (my_tuple + ( 10,15 ) )
print (my_tuple)

(1, 3, 5, 10, 15)
(1, 3, 5)

In [21]:
my_tuple = my_tuple + ( 10,15 )
print (my_tuple)

(1, 3, 5, 10, 15)

In [25]:
print (my_tuple[0] )
print (my_tuple[2] )
print (my_tuple[2: 4] )

1
5
(5, 10)

In [27]:
print (my_tuple.count(10) )
print (my_tuple.count(100) )

1
0

In [38]:
my_tuple = (1, 3, 5, 10, 15, 10, 15)
print (my_tuple)
print (my_tuple.index(10) )
print (my_tuple.index(10, 4) )
# error
print (my_tuple.index(100) )

(1, 3, 5, 10, 15, 10, 15)
3
5

ValueError: tuple.index(x): x not in tuple

In [35]:
my_tuple[0]
my_tuple[2]
my_tuple[2: 4]

(5, 10)

In [37]:
my_list = [5,4]
print (my_list.append(100))
print (my_list)

None
[5, 4, 100]

In [40]:
print (my_tuple)
my_tuple[2] = 849

(1, 3, 5, 10, 15, 10, 15)

TypeError: 'tuple' object does not support item assignment

In [43]:
print ( len(my_tuple) )
print (10 in my_tuple)
print (2 in my_tuple)

7
True
False

In [54]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)] ] )
print (len(my_tuple) )
print (my_tuple[3] )
print (len(my_tuple[3]) )
print (my_tuple[3][1] )
print (my_tuple[3][1][1] )
# same as above
print (my_tuple[-1][-1][-1] )

4
[6, [7, 8]]
2
[7, 8]
8
8

In [63]:
tuple1 = (11, [222, 33], 44, 55)
print (tuple1[1] )
tuple1[1][1] = 22
print (tuple1)
# error
# tuple1[2] = 22
# tuple1[1] = [222, 22]
tuple2 = (11, [222, 33], 44, 55)
tmp_list = list( tuple2 )
print (tmp_list)
tmp_list[1] = [222, 22]
print (tmp_list)
tuple2 = tuple( tmp_list )
print (tuple2)

[222, 33]
(11, [222, 22], 44, 55)
[11, [222, 33], 44, 55]
[11, [222, 22], 44, 55]
(11, [222, 22], 44, 55)

In [74]:
tuple1 = (66, 34, 76)
tuple2 = (5, 1, 78, 35)
tuple3 = tuple1 + tuple2
print (tuple3)
tmp_list = list( tuple3 )
print (tmp_list)
tmp_list.pop()
tuple3 = tuple(tmp_list)
print(tuple3)
print(tuple3[::-1])
# tmp_list.sort()
tuple3 = tuple( sorted(tuple3) ) 
print (tuple3)
print (tuple3.count(34))
print (tuple3[-1])

(66, 34, 76, 5, 1, 78, 35)
[66, 34, 76, 5, 1, 78, 35]
(66, 34, 76, 5, 1, 78)
(78, 1, 5, 76, 34, 66)
(1, 5, 34, 66, 76, 78)
1
78

# Range

In [80]:
print( range(10) )
print( type( range(10) ) )
print( list( range(10) ) )
print( list( range(5, 10) ) )
print( list( range(5, 20, 3) ) )
print( list( range(100, -50, -15) ) )

range(0, 10)
<class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[5, 8, 11, 14, 17]
[100, 85, 70, 55, 40, 25, 10, -5, -20, -35]

In [89]:
miestai = ['Vilnius', 'Kaunas', 'Klaipeda']

# for <any_name> in <list/sequence>:
for miestas in miestai:
    # print( miestas )
    print (f'{miestas} yra nuostabus miestas!')
    print('praejo vienas ciklas')
print('pabaiga')

Vilnius yra nuostabus miestas!
praejo vienas ciklas
Kaunas yra nuostabus miestas!
praejo vienas ciklas
Klaipeda yra nuostabus miestas!
praejo vienas ciklas
pabaiga

In [88]:
for x in miestai:
    # print( miestas )
    print (f'{x} yra nuostabus miestas!')
    print('praejo vienas ciklas')
print('pabaiga')

Vilnius yra nuostabus miestas!
praejo vienas ciklas
Kaunas yra nuostabus miestas!
praejo vienas ciklas
Klaipeda yra nuostabus miestas!
praejo vienas ciklas
pabaiga

In [ ]:
# b# kitos programavimo kalbos
# for miestas in miestai {
#     # print( miestas )
#     print (f'{miestas} yra nuostabus miestas!')
#     print('praejo vienas ciklas')
# }
    
# print('pabaiga')

In [90]:
for number in range(1,34,3):
    print (number)

1
4
7
10
13
16
19
22
25
28
31

In [94]:
skaiciu_sarasas = [ 165,489,432]
suma = 0
sandauga = 1
for skaicius in skaiciu_sarasas:
    suma += skaicius
    print (f'tarpine suma: {suma}')
    sandauga *= skaicius
    print (f'tarpine sandauga: {sandauga}')

print(f'galutine suma: {suma}')
print (f'galutine sandauga: {sandauga}')

tarpine suma: 165
tarpine sandauga: 165
tarpine suma: 654
tarpine sandauga: 80685
tarpine suma: 1086
tarpine sandauga: 34855920
galutine suma: 1086
galutine sandauga: 34855920

In [95]:
print ( sum(skaiciu_sarasas) )

1086

In [97]:
ivestas_skaicius = input( 'Irasykite skaiciu' )

In [99]:
print (ivestas_skaicius)
skaicius = int(ivestas_skaicius)
print (skaicius)

654
654

In [101]:
for skaicius in range (0,11):
    print(skaicius)

print ('antra dalis')
suma = 0
for skaicius in range (0,51):
    suma = suma + skaicius
print(suma)

0
1
2
3
4
5
6
7
8
9
10
antra dalis
1275

In [103]:
number = [15, 59, 62, 89, 56,]
for number in range(1,34,3):
    print(number)


print ('po ciklo', number)

1
4
7
10
13
16
19
22
25
28
31
po ciklo 31

In [105]:
ivestas_skaicius = input( 'Irasykite skaiciu' )
print (type(ivestas_skaicius))

<class 'str'>

5 * 1\
5 * 2\
5 * 3\
...\
5 * 10\

In [108]:
skaicius = input('iveskite skaiciu')
skaicius = int(skaicius)

for x in range(1,11):
    print(x * skaicius)

9
18
27
36
45
54
63
72
81
90

In [121]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []
for diena in dienos:
    # print(diena)
    print ('didelio ciklo pradzia')
    for valanda in valandos:
        # print (diena, valanda)
        # print(valanda)
        kombinacijos.append( (diena, valanda) )
        print (f'mazas ciklas. {diena} {valanda}')
    print ('didelio ciklo pabaiga')

print (kombinacijos)

didelio ciklo pradzia
mazas ciklas. Pirmadienis 10
mazas ciklas. Pirmadienis 11
mazas ciklas. Pirmadienis 12
mazas ciklas. Pirmadienis 13
mazas ciklas. Pirmadienis 14
mazas ciklas. Pirmadienis 15
mazas ciklas. Pirmadienis 16
mazas ciklas. Pirmadienis 17
mazas ciklas. Pirmadienis 18
mazas ciklas. Pirmadienis 19
didelio ciklo pabaiga
didelio ciklo pradzia
mazas ciklas. Antradienis 10
mazas ciklas. Antradienis 11
mazas ciklas. Antradienis 12
mazas ciklas. Antradienis 13
mazas ciklas. Antradienis 14
mazas ciklas. Antradienis 15
mazas ciklas. Antradienis 16
mazas ciklas. Antradienis 17
mazas ciklas. Antradienis 18
mazas ciklas. Antradienis 19
didelio ciklo pabaiga
didelio ciklo pradzia
mazas ciklas. Treciadienis 10
mazas ciklas. Treciadienis 11
mazas ciklas. Treciadienis 12
mazas ciklas. Treciadienis 13
mazas ciklas. Treciadienis 14
mazas ciklas. Treciadienis 15
mazas ciklas. Treciadienis 16
mazas ciklas. Treciadienis 17
mazas ciklas. Treciadienis 18
mazas ciklas. Treciadienis 19
didelio ciklo pabaiga
didelio ciklo pradzia
mazas ciklas. Ketvirtadienis 10
mazas ciklas. Ketvirtadienis 11
mazas ciklas. Ketvirtadienis 12
mazas ciklas. Ketvirtadienis 13
mazas ciklas. Ketvirtadienis 14
mazas ciklas. Ketvirtadienis 15
mazas ciklas. Ketvirtadienis 16
mazas ciklas. Ketvirtadienis 17
mazas ciklas. Ketvirtadienis 18
mazas ciklas. Ketvirtadienis 19
didelio ciklo pabaiga
didelio ciklo pradzia
mazas ciklas. Penktadienis 10
mazas ciklas. Penktadienis 11
mazas ciklas. Penktadienis 12
mazas ciklas. Penktadienis 13
mazas ciklas. Penktadienis 14
mazas ciklas. Penktadienis 15
mazas ciklas. Penktadienis 16
mazas ciklas. Penktadienis 17
mazas ciklas. Penktadienis 18
mazas ciklas. Penktadienis 19
didelio ciklo pabaiga
didelio ciklo pradzia
mazas ciklas. Sestadienis 10
mazas ciklas. Sestadienis 11
mazas ciklas. Sestadienis 12
mazas ciklas. Sestadienis 13
mazas ciklas. Sestadienis 14
mazas ciklas. Sestadienis 15
mazas ciklas. Sestadienis 16
mazas ciklas. Sestadienis 17
mazas ciklas. Sestadienis 18
mazas ciklas. Sestadienis 19
didelio ciklo pabaiga
didelio ciklo pradzia
mazas ciklas. Sekmadienis 10
mazas ciklas. Sekmadienis 11
mazas ciklas. Sekmadienis 12
mazas ciklas. Sekmadienis 13
mazas ciklas. Sekmadienis 14
mazas ciklas. Sekmadienis 15
mazas ciklas. Sekmadienis 16
mazas ciklas. Sekmadienis 17
mazas ciklas. Sekmadienis 18
mazas ciklas. Sekmadienis 19
didelio ciklo pabaiga
[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

In [132]:
age = int( input ("iveskite amziu:" ) )

if age >= 18 :
    print(f'Jums yra {age}, jus estate pilnametis')
elif age > 12:
    print ('tau yra tarp 12 ir 18 metu')
elif age > 8:
    print ('tau yra tarp 8 ir 12 metu')
elif age > 4:
    print ('tau yra tarp 4 ir 8 metu')
else:
    print(f'Jums yra {age}, dar teks paaugti')

print('pabaiga')

tau yra tarp 4 ir 8 metu
pabaiga

In [1]:
x = int( input ("iveskite skaiciu:" ) )

if x % 2 == 0:
    print ('lyginis')
    x /= 2
else:
    print ('nelygnis')
    x *= 4

print(x)

lyginis
1.0

In [138]:
x = int( input ("iveskite skaiciu:" ) )
y = int( input ("iveskite antra skaiciu:" ) )
print (f'x: {x}, y: {y}')

if x % 2 == 0:
    print ('lyginis')
    x /= 2
    if y >= 10:
        y = x * y
    else:
        y -= 2
else:
    print ('nelygnis')
    x *= 4
    if y >= 20:
        y = y / x
    else:
        y += 5

print(x)
print(y)

x: 11, y: 35
nelygnis
44
0.7954545454545454