In [1]:
text = "Hello world World"

In [5]:

print (text.isdigit() )
print ('1973'.isdigit() )
print ('1973 '.isdigit() )
print ('1973 '.strip().isdigit() )

False
True
False
True

In [7]:
text = "   Hello world World      "
print (text)
print (text.strip())

   Hello world World
Hello world World

In [10]:
text = "   Hello\nworld\nWorld      "
print (text)
print (text.replace('\n', ' '))

   Hello
world
World
   Hello world World

In [12]:
print (text.replace('world', 'hello').replace('World', 'Lithuania') )
print (text.replace('world World', 'hello Lithuania') )

   Hello
hello
Lithuania
   Hello
world
World

In [22]:
text_2 = 'My name is Darius, I live in Vilnius vilnius'
print( text_2.upper() )
print( text_2.lower() )
print( text_2.capitalize() )
print( text_2.count('Vilnius') )
print( text_2.lower().count('vilnius') )
print( text_2.find('Darius'))
print( text_2[ 0 : text_2.find('Darius') ] )
print( text_2[ 0 : text_2.find('Darius') + len('Darius') ] )

MY NAME IS DARIUS, I LIVE IN VILNIUS VILNIUS
my name is darius, i live in vilnius vilnius
My name is darius, i live in vilnius vilnius
1
2
11
My name is
My name is Darius

In [25]:
text_2 = 'My name is , I live in Vilnius Darius vilnius'
print( text_2[ 0 : text_2.find('Darius') + len('Darius') ] )
print( text_2[ :text_2.find('Darius') + len('Darius') ] ) # same
print( text_2[ text_2.find('Darius') : ] )

My name is , I live in Vilnius Darius
My name is , I live in Vilnius Darius
Darius vilnius

### string operations

In [27]:
'Darius' + ' ' + 'Grigalius'

'Darius Grigalius'

In [28]:
# 'Grigalius' - 'i' # Doesn't work

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [29]:
'hi ' * 100

'hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi hi '

In [30]:
# 'Grigalius' / 'i' # Doesn't work

TypeError: unsupported operand type(s) for /: 'str' and 'str'

### f-string

In [45]:
name = 'Darius'
surname = 'Grigalius'
number = 51
print( name + ' ' + surname + ' ' + str(number) + ', nice to meet you!' )
print( f'{name                        } {surname} {number}, nice to meet you!')
print( '{name                        } {surname} {number}, nice to meet you!')
print( f'{name                        } {surname.lower()} {number + 10}, nice to meet you!')
print( f'{name                        } {surname.lower()}               {number + 10}, nice to meet you!')
print( f'{name.upper()                        } {surname.lower()}               {number + 10}, nice to meet you!')

Darius Grigalius 51, nice to meet you!
Darius Grigalius 51, nice to meet you!
{name                        } {surname} {number}, nice to meet you!
Darius grigalius 61, nice to meet you!
Darius grigalius               61, nice to meet you!
DARIUS grigalius               61, nice to meet you!

In [47]:
print ('Darius', 'Darius', 'Darius','Darius','Darius',sep="HHH")

DariusHHHDariusHHHDariusHHHDariusHHHDarius

In [58]:
text = 'Hello World, I am happy to learn Python!'
look_word = 'happy'
print(text[18:23])
print(text[text.find(look_word):text.find(look_word) + len(look_word)])
look_word = 'Python'
print(text[text.find(look_word):text.find(look_word) + len(look_word)])

happy
happy
Python

# Numbers

In [61]:
number = 51684

float_number = 1436.41
float_number_2 = 1436.

In [62]:
print ( type(number) )
print ( type(float_number) )
print ( type(float_number_2) )

<class 'int'>
<class 'float'>
<class 'float'>

## operations

In [73]:
suma = number + float_number
print (f'{suma} yra {type(suma)}')
print (10 - 5)
print (10 * 5)
print (10 / 5)
print (13 // 5) # sveika dalis
print (17 // 5) 

# liekana
print ('liekana')
print (15 % 5) 
print (16 % 5) 
print (17 % 5) 
print (18 % 5) 
print (19 % 5) 
print (20 % 5)

53120.41 yra <class 'float'>
5
50
2.0
2
3
liekana
0
1
2
3
4
0

In [ ]:
# int
# float
# str

In [78]:
# kelimas laipsniu
print( 2 ** 2 )
print( 2 ** 3 )
print( 2 ** 4 )
print( 3 ** 2 )

4
8
16
9

In [79]:
int_1 = 5
int_2 = 10

print (int_1 + int_2)
print (int_1 - int_2)
print (int_1 * int_2)
print (int_1 / int_2)
print (int_1 % int_2)

15
-5
50
0.5
5

In [80]:
float_1 = 5.5
float_2 = 10.54

print (float_1 + float_2)
print (float_1 - float_2)
print (float_1 * float_2)
print (float_1 / float_2)
print (float_1 % float_2)

16.04
-5.039999999999999
57.97
0.5218216318785579
5.5

In [84]:
dist_sun = 150_000_000 # same as dist_sun = 150000000
dist_moon = 384_000

speed_per_hour = 150

day = speed_per_hour * 24
month = day * 30
year = month * 12
minutes = speed_per_hour/60
seconds = minutes/60

print(f'Atstumas iki saules yra {dist_sun / dist_moon} kartu didesnis nei atstumas iki menulio ')

print(dist_moon/speed_per_hour)
print(dist_moon/day)
print(dist_moon/month)
print(dist_moon/year)
print(dist_moon/minutes)
print(dist_moon/seconds)

Atstumas iki saules yra 390.625 kartu didesnis nei atstumas iki menulio
2560.0
106.66666666666667
3.5555555555555554
0.2962962962962963
153600.0
9216000.0

In [87]:
from datetime import datetime

birthday = datetime(1968, 4,5)
now = datetime.now()
time_passed = now - birthday
print (time_passed)
print (time_passed.days)

19872 days, 20:09:11.314310
19872

In [89]:
date = datetime.strptime("2020/11/04", '%Y/%m/%d') 
print (date.day)
print (date.month)
print (date.year)

4
11
2020

In [95]:
bool_1 = True
bool_2 = False
print( type(bool_1))
print(bool_1)
number = 1
print( bool(number) )
number = 0
print( bool(number) )
number = 0.5
print( bool(number) )
number = -0.000001
print( bool(number) )
# False tampa tik 0, visi kiti True

<class 'bool'>
True
True
False
True
True

In [103]:
print (2 > 5)
print (2 < 5)
print (5 > 5)
print (5 >= 5)
print (5 == 5)
print (10 == 5)

print ('nelygus')
print(10 != 5)
print(10 != 10)

False
True
False
True
True
False
nelygus
True
False

In [106]:
text = 'Hello world'
bool_4 = 'o' in text
print (bool_4)

True

In [110]:
print (bool_1)
print(bool_1 == 0.999)
print(bool_1 == bool(0.999) )
print( 0.999 == bool_1  )

True
False
True
False

In [112]:
print (bool(0.0))
print (bool(0.01))

False
True

In [115]:
print (bool(''))
print (bool(' '))
print (bool('Hello'))

False
True
True

In [118]:
print ( True )
print (not True )
print (not not True )

True
False
True

In [122]:
print ('and')
print (20 > 10 and 5 > 1)
print (20 > 10 and 5 > 10)
print ('or')
print (20 > 10 or 5 > 1)
print (20 > 10 or 5 > 10)
print (2 > 10 or 5 > 10)

and
True
False
or
True
True
False

In [123]:
'hello' in 'Hello world' and 5 > 1 or 52 < 52

False

# Lists

In [124]:
cities = [ 'Vilnius', 'Kaunas', 'Klaipeda' ]

In [128]:
print( cities[0])
print( type( cities[0] ) )
print( cities[-1])
print( cities[:2])
print( type( cities[:2] ) )

Vilnius
<class 'str'>
Klaipeda
['Vilnius', 'Kaunas']
<class 'list'>

In [134]:
numbers = [ 1,8546,847,358,'vienas']
print( type( numbers[0] ) )
print( type( numbers[-1] ) )
print( numbers[1:4] )

<class 'int'>
<class 'str'>
[8546, 847, 358]

In [136]:
print (len(numbers) )
print (len(numbers[-1]) )

5
6

In [139]:
numbers = [ 1,8546,847,358 ]
numbers.append(500)
numbers.append(500)
numbers.append(10)
print (numbers)

[1, 8546, 847, 358, 500, 500, 10]

In [153]:
# updates list
# numbers.append(10)
print (numbers)

[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [154]:
numbers.count(10)

15

In [157]:
# numbers.insert(2, 1000)
print (numbers.insert(2, 1000) )

None

In [158]:
print (numbers)

[1, 8546, 1000, 1000, 1000, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10]

In [167]:
# print (numbers.pop() )
print (numbers.pop(2) )
print (numbers )

1000
[1, 8546, 1000, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 10]

In [170]:
print (numbers.remove(10) )
print (numbers )

None
[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10]

In [171]:
numbers.extend( [999, 999] )
print(numbers)
numbers.append( [888, 888] )
print(numbers)

[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999]
[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999, [888, 888]]

In [173]:
print (numbers[-1])
print (type(numbers[-1]) )

[888, 888]
<class 'list'>

In [180]:
nested_list = [654, [[[48, [['65']]], 57]]]
print (nested_list[1][0] )
print (nested_list[1][0][0][1][0][0] )

[[48, [['65']]], 57]
65

In [182]:
print (numbers)
print (numbers.pop())

[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999, [888, 888]]
[888, 888]

In [183]:
print (numbers)

[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999]

In [192]:
print( numbers.reverse() )
print(numbers)

None
[999, 999, 10, 10, 10, 10, 10, 10, 10, 500, 500, 358, 847, 8546, 1]

In [209]:
print ( numbers[::-1] )
print ( numbers[::-2] )

[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999]
[1, 847, 500, 10, 10, 10, 10, 999]

In [213]:
numbers.sort(reverse=False)
print (numbers)
numbers.sort(reverse=True)
print (numbers)

[1, 10, 10, 10, 10, 10, 10, 10, 358, 500, 500, 847, 999, 999, 8546]
[8546, 999, 999, 847, 500, 500, 358, 10, 10, 10, 10, 10, 10, 10, 1]

In [215]:
numbers = [1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999]
print ( sorted(numbers, reverse=False) )
print (numbers)
print ( sorted(numbers, reverse=True) )
print (numbers)

[1, 10, 10, 10, 10, 10, 10, 10, 358, 500, 500, 847, 999, 999, 8546]
[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999]
[8546, 999, 999, 847, 500, 500, 358, 10, 10, 10, 10, 10, 10, 10, 1]
[1, 8546, 847, 358, 500, 500, 10, 10, 10, 10, 10, 10, 10, 999, 999]

In [216]:
print (cities)

['Vilnius', 'Kaunas', 'Klaipeda']

In [218]:
cities[2] = "Siauliai"
print(cities)
# cities[3] = "Siauliai" # uzeinam uz saraso ribu

['Vilnius', 'Kaunas', 'Siauliai']

IndexError: list assignment index out of range

In [219]:
"Vilnius" in cities

True

In [221]:
print( bool( [] ) )
print( bool( cities ) )

False
True

In [223]:
combined_list = [1,2,3] + ["A", "B", "C"]
print (combined_list)

[1, 2, 3, 'A', 'B', 'C']

In [224]:
mult_list = [1,2,"A"] * 100
print (mult_list)

[1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A', 1, 2, 'A']

In [229]:
c = 5
# c = c + 10
c += 10 # same as c = c + 10
print (c)
c *= 2
print (c)
c /= 3
print (c)

15
30
10.0

In [230]:
type( [] )

list