# Namų darbai

1.Sudėti du list’us, išimti paskutinį narį iš sudėto listo, išrikiuoti list’ą, suskaičiuoti kiek yra kokios nors reikšmės įvesčių list’e

In [7]:
list_1 = [1,5,1]
list_2 = [10,50,12]
list_combined = list_1 + list_2
print (list_combined)
list_combined.pop()
print (list_combined)

list_combined.sort()
print (list_combined)

list_combined.count(1)

[1, 5, 1, 10, 50, 12]
[1, 5, 1, 10, 50]
[1, 1, 5, 10, 50]

2

In [8]:
list_1 = ['a','ab', 'astrwre']
list_2 = ['','asa','g']
list_combined = list_1 + list_2
print (list_combined)
list_combined.pop()
print (list_combined)

list_combined.sort(key=len, reverse=True)

print (list_combined)

list_combined.count(1)

['a', 'ab', 'astrwre', '', 'asa', 'g']
['a', 'ab', 'astrwre', '', 'asa']
['astrwre', 'asa', 'ab', 'a', '']

0

2.1 Tikrinant skaičius nuo 1 iki 20 , atspausdinkite skaičius, kurie dalinasi iš 3 be liekanos. Naudokite for loop ir if

In [9]:
for i in range(1,21):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18

2.2 Tikrinant skaičius nuo 1 iki 50, pridėkite skaičių prie sumos, jei nauja einama suma bus lyginė

In [10]:
suma = 0
for i in range(1,51):
    if (suma + i) % 2 == 0:
        suma += i
        print(suma)

2
6
12
20
30
42
56
72
90
110
132
156
182
210
240
272
306
342
380
420
462
506
552
600
650

3\. Leiskite vartotojui pasirinkti skaičių, atspausdinkite jo sandaugą nuo 1 iki 10 tik tada, jei pasirinktas skaičius pakeltas kvadratu yra nelyginis

In [11]:
pasirinktas_skaicius = int( input('iveskite skaiciu') )

if (pasirinktas_skaicius ** 2) % 2 != 0:
    for i in range(1,11):
        print (i * pasirinktas_skaicius)
else:
    print ('pasirinktas skaičius pakeltas kvadratu yra lyginis')

11
22
33
44
55
66
77
88
99
110

4\. Gaukite visas įmanomas kombinacijas iš pateiktų sąrašų tik tada, jei diena yra arba pirmadienis arba trečiadienis, o valandos yra nuo 12 iki 17, įrašykite jas į list’ą

In [12]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis','Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

tinkamos_dienos = [ 'Pirmadienis', 'Treciadienis' ]
tinkamos_valandos = [ 12, 13, 14, 15, 16, 17 ]

kombinacijos = []
for diena in dienos:
    # if diena == 'Pirmadienis' or diena == 'Treciadienis':
    if diena in tinkamos_dienos:
        for valanda in valandos:
            if valanda in tinkamos_valandos:
                kombinacijos.append( (diena, valanda) )

print (kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

5\. Iš pirmų 100 skaičių, jeigu skaičius dalinasi iš 2 be liekanos, atspausdinkite ‘Fizz’, jeigu skaičius dalinasi iš 3 be liekanos atspausdinkite ‘Buzz’, jei skaičius dalinasi iš 2 ir 3 be liekanos, atspausdinkite ‘FizzBuzz’

In [13]:
# wrong
for i in range(1,101):
    if i % 2 == 0:
        print (f' {i} - Fizz')
    elif i % 3 == 0:
        print (f' {i} - Buzz')
    elif i % 2 == 0 and i % 3 == 0:
        print (f' {i} - FizzBuzz')

 2 - Fizz
 3 - Buzz
 4 - Fizz
 6 - Fizz
 8 - Fizz
 9 - Buzz
 10 - Fizz
 12 - Fizz
 14 - Fizz
 15 - Buzz
 16 - Fizz
 18 - Fizz
 20 - Fizz
 21 - Buzz
 22 - Fizz
 24 - Fizz
 26 - Fizz
 27 - Buzz
 28 - Fizz
 30 - Fizz
 32 - Fizz
 33 - Buzz
 34 - Fizz
 36 - Fizz
 38 - Fizz
 39 - Buzz
 40 - Fizz
 42 - Fizz
 44 - Fizz
 45 - Buzz
 46 - Fizz
 48 - Fizz
 50 - Fizz
 51 - Buzz
 52 - Fizz
 54 - Fizz
 56 - Fizz
 57 - Buzz
 58 - Fizz
 60 - Fizz
 62 - Fizz
 63 - Buzz
 64 - Fizz
 66 - Fizz
 68 - Fizz
 69 - Buzz
 70 - Fizz
 72 - Fizz
 74 - Fizz
 75 - Buzz
 76 - Fizz
 78 - Fizz
 80 - Fizz
 81 - Buzz
 82 - Fizz
 84 - Fizz
 86 - Fizz
 87 - Buzz
 88 - Fizz
 90 - Fizz
 92 - Fizz
 93 - Buzz
 94 - Fizz
 96 - Fizz
 98 - Fizz
 99 - Buzz
 100 - Fizz

In [14]:
# good
for i in range(1,101):
    if i % 2 == 0 and i % 3 == 0:
        print (f' {i} - FizzBuzz')
    elif i % 3 == 0:
        print (f' {i} - Buzz')
    elif i % 2 == 0:
        print (f' {i} - Fizz')
    else:
        print (i)

1
 2 - Fizz
 3 - Buzz
 4 - Fizz
5
 6 - FizzBuzz
7
 8 - Fizz
 9 - Buzz
 10 - Fizz
11
 12 - FizzBuzz
13
 14 - Fizz
 15 - Buzz
 16 - Fizz
17
 18 - FizzBuzz
19
 20 - Fizz
 21 - Buzz
 22 - Fizz
23
 24 - FizzBuzz
25
 26 - Fizz
 27 - Buzz
 28 - Fizz
29
 30 - FizzBuzz
31
 32 - Fizz
 33 - Buzz
 34 - Fizz
35
 36 - FizzBuzz
37
 38 - Fizz
 39 - Buzz
 40 - Fizz
41
 42 - FizzBuzz
43
 44 - Fizz
 45 - Buzz
 46 - Fizz
47
 48 - FizzBuzz
49
 50 - Fizz
 51 - Buzz
 52 - Fizz
53
 54 - FizzBuzz
55
 56 - Fizz
 57 - Buzz
 58 - Fizz
59
 60 - FizzBuzz
61
 62 - Fizz
 63 - Buzz
 64 - Fizz
65
 66 - FizzBuzz
67
 68 - Fizz
 69 - Buzz
 70 - Fizz
71
 72 - FizzBuzz
73
 74 - Fizz
 75 - Buzz
 76 - Fizz
77
 78 - FizzBuzz
79
 80 - Fizz
 81 - Buzz
 82 - Fizz
83
 84 - FizzBuzz
85
 86 - Fizz
 87 - Buzz
 88 - Fizz
89
 90 - FizzBuzz
91
 92 - Fizz
 93 - Buzz
 94 - Fizz
95
 96 - FizzBuzz
97
 98 - Fizz
 99 - Buzz
 100 - Fizz

In [15]:
for i in range(1,101):
    result = ''
    if i % 2 == 0:
        result += 'Fizz'
    if i % 3 == 0:
        result += 'Buzz'
    print(f' {i} - {result}')

 1 -
 2 - Fizz
 3 - Buzz
 4 - Fizz
 5 -
 6 - FizzBuzz
 7 -
 8 - Fizz
 9 - Buzz
 10 - Fizz
 11 -
 12 - FizzBuzz
 13 -
 14 - Fizz
 15 - Buzz
 16 - Fizz
 17 -
 18 - FizzBuzz
 19 -
 20 - Fizz
 21 - Buzz
 22 - Fizz
 23 -
 24 - FizzBuzz
 25 -
 26 - Fizz
 27 - Buzz
 28 - Fizz
 29 -
 30 - FizzBuzz
 31 -
 32 - Fizz
 33 - Buzz
 34 - Fizz
 35 -
 36 - FizzBuzz
 37 -
 38 - Fizz
 39 - Buzz
 40 - Fizz
 41 -
 42 - FizzBuzz
 43 -
 44 - Fizz
 45 - Buzz
 46 - Fizz
 47 -
 48 - FizzBuzz
 49 -
 50 - Fizz
 51 - Buzz
 52 - Fizz
 53 -
 54 - FizzBuzz
 55 -
 56 - Fizz
 57 - Buzz
 58 - Fizz
 59 -
 60 - FizzBuzz
 61 -
 62 - Fizz
 63 - Buzz
 64 - Fizz
 65 -
 66 - FizzBuzz
 67 -
 68 - Fizz
 69 - Buzz
 70 - Fizz
 71 -
 72 - FizzBuzz
 73 -
 74 - Fizz
 75 - Buzz
 76 - Fizz
 77 -
 78 - FizzBuzz
 79 -
 80 - Fizz
 81 - Buzz
 82 - Fizz
 83 -
 84 - FizzBuzz
 85 -
 86 - Fizz
 87 - Buzz
 88 - Fizz
 89 -
 90 - FizzBuzz
 91 -
 92 - Fizz
 93 - Buzz
 94 - Fizz
 95 -
 96 - FizzBuzz
 97 -
 98 - Fizz
 99 - Buzz
 100 - Fizz

6\. Leiskite vartotojui pasirinkti skaičių, jeigu įvestas skaičius yra daugiau arba lygus 10, atspausdinkite visus skaičius nuo 1 iki pateikto skaičiaus, kurie dalinasi iš 5 su liekana

In [16]:
pasirinktas_skaicius = int( input('iveskite skaiciu') )

if pasirinktas_skaicius >= 10:
    for i in range(1, pasirinktas_skaicius + 1):
        if i % 5 != 0:
            print (i)
        print ('for cikle')
    print ('cia')
else: 
    print (f'skaicius {pasirinktas_skaicius} mazesnis uz 10')

1
for cikle
2
for cikle
3
for cikle
4
for cikle
for cikle
6
for cikle
7
for cikle
8
for cikle
9
for cikle
for cikle
11
for cikle
cia

In [17]:
# skacius  = int
# skacius.append()

# int = 5 # klaida
int('5')

5

In [18]:
int('546')

546

7\. Koks yra sąrašo ilgis sudaryto iš pateiktų sąrašų kombinacijų, jeigu norime rasti visas įmanomas reikšmes? Išrikiuokite sąrašą nuo didžiausios iki mažiausios reikšmės (teks atlikti papildomų veiksmų tam atlikti teisingai, naudoti viena iš 3 narių rikiavimui)

In [19]:
a = ['1','2','3','4','5']
b = ['labas', 'vakaras', 'kokia grazi diena', 'siandien uz lango', '10 laipsniu silumos']
c = ['100', '200', 40, 10]
c[0] = 100
c[1] = 200
# print(c)

kombinacijos = []
for pirmas in a:
    for antras in b:
        for trecias in c:
            kombinacijos.append( (pirmas, antras, trecias) )

print(kombinacijos)

[('1', 'labas', 100), ('1', 'labas', 200), ('1', 'labas', 40), ('1', 'labas', 10), ('1', 'vakaras', 100), ('1', 'vakaras', 200), ('1', 'vakaras', 40), ('1', 'vakaras', 10), ('1', 'kokia grazi diena', 100), ('1', 'kokia grazi diena', 200), ('1', 'kokia grazi diena', 40), ('1', 'kokia grazi diena', 10), ('1', 'siandien uz lango', 100), ('1', 'siandien uz lango', 200), ('1', 'siandien uz lango', 40), ('1', 'siandien uz lango', 10), ('1', '10 laipsniu silumos', 100), ('1', '10 laipsniu silumos', 200), ('1', '10 laipsniu silumos', 40), ('1', '10 laipsniu silumos', 10), ('2', 'labas', 100), ('2', 'labas', 200), ('2', 'labas', 40), ('2', 'labas', 10), ('2', 'vakaras', 100), ('2', 'vakaras', 200), ('2', 'vakaras', 40), ('2', 'vakaras', 10), ('2', 'kokia grazi diena', 100), ('2', 'kokia grazi diena', 200), ('2', 'kokia grazi diena', 40), ('2', 'kokia grazi diena', 10), ('2', 'siandien uz lango', 100), ('2', 'siandien uz lango', 200), ('2', 'siandien uz lango', 40), ('2', 'siandien uz lango', 10), ('2', '10 laipsniu silumos', 100), ('2', '10 laipsniu silumos', 200), ('2', '10 laipsniu silumos', 40), ('2', '10 laipsniu silumos', 10), ('3', 'labas', 100), ('3', 'labas', 200), ('3', 'labas', 40), ('3', 'labas', 10), ('3', 'vakaras', 100), ('3', 'vakaras', 200), ('3', 'vakaras', 40), ('3', 'vakaras', 10), ('3', 'kokia grazi diena', 100), ('3', 'kokia grazi diena', 200), ('3', 'kokia grazi diena', 40), ('3', 'kokia grazi diena', 10), ('3', 'siandien uz lango', 100), ('3', 'siandien uz lango', 200), ('3', 'siandien uz lango', 40), ('3', 'siandien uz lango', 10), ('3', '10 laipsniu silumos', 100), ('3', '10 laipsniu silumos', 200), ('3', '10 laipsniu silumos', 40), ('3', '10 laipsniu silumos', 10), ('4', 'labas', 100), ('4', 'labas', 200), ('4', 'labas', 40), ('4', 'labas', 10), ('4', 'vakaras', 100), ('4', 'vakaras', 200), ('4', 'vakaras', 40), ('4', 'vakaras', 10), ('4', 'kokia grazi diena', 100), ('4', 'kokia grazi diena', 200), ('4', 'kokia grazi diena', 40), ('4', 'kokia grazi diena', 10), ('4', 'siandien uz lango', 100), ('4', 'siandien uz lango', 200), ('4', 'siandien uz lango', 40), ('4', 'siandien uz lango', 10), ('4', '10 laipsniu silumos', 100), ('4', '10 laipsniu silumos', 200), ('4', '10 laipsniu silumos', 40), ('4', '10 laipsniu silumos', 10), ('5', 'labas', 100), ('5', 'labas', 200), ('5', 'labas', 40), ('5', 'labas', 10), ('5', 'vakaras', 100), ('5', 'vakaras', 200), ('5', 'vakaras', 40), ('5', 'vakaras', 10), ('5', 'kokia grazi diena', 100), ('5', 'kokia grazi diena', 200), ('5', 'kokia grazi diena', 40), ('5', 'kokia grazi diena', 10), ('5', 'siandien uz lango', 100), ('5', 'siandien uz lango', 200), ('5', 'siandien uz lango', 40), ('5', 'siandien uz lango', 10), ('5', '10 laipsniu silumos', 100), ('5', '10 laipsniu silumos', 200), ('5', '10 laipsniu silumos', 40), ('5', '10 laipsniu silumos', 10)]

# List comprehension

In [20]:
numbers = list(range(1,21) )
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
        # print(number)
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [5]:
dividible_by_3 = [ number * 2 for number in range(1,21) ]
print (dividible_by_3)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40]

In [6]:
dividible_by_3 = [ number for number in range(1,21) if number % 3 == 0 ]
print (dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [8]:
dividible_by_3 = [ number if number % 3 ==0 else f'{number} nesidalina is 3' for number in range(1,21) ]
print (dividible_by_3)

['1 nesidalina is 3', '2 nesidalina is 3', 3, '4 nesidalina is 3', '5 nesidalina is 3', 6, '7 nesidalina is 3', '8 nesidalina is 3', 9, '10 nesidalina is 3', '11 nesidalina is 3', 12, '13 nesidalina is 3', '14 nesidalina is 3', 15, '16 nesidalina is 3', '17 nesidalina is 3', 18, '19 nesidalina is 3', '20 nesidalina is 3']

# None a.k.a null, nill

In [9]:
niekas = None
print (niekas)
print(type(niekas))

None
<class 'NoneType'>

In [11]:
list_1 = [5,4,7]
print(list_1.sort())
print(list_1)

None
[4, 5, 7]

In [ ]:
vardas = ''
vardas = input('Koks tavo vardas?')
# if vardas == '':

    
if vardas == "Jonas":
    print ("sveikas Jonai!")

In [13]:
vardas = None
pateiktas_vardas = input('Koks tavo vardas?') 
if pateiktas_vardas == '':
    pateiktas_vardas = input('Neirasete vardo, koks jusu vardas?') 
print(f'vardas yra {vardas}')
if pateiktas_vardas != '':
    vardas = pateiktas_vardas
print(f'vardas yra {vardas}')

vardas yra None
vardas yra Darius

# Dictionary

In [15]:
me = {
    'vardas': 'Darius',
    'amzius': 26
}
print( me)

{'vardas': 'Darius', 'amzius': 26}

In [17]:
print (me[ 'vardas' ])
print (me[ 'amzius' ])

Darius
26

In [19]:
me[ 'hobiai' ] = ['tenisas', 'dviraciai']
print (me)
me[ 'amzius' ] = 27
print (me)

{'vardas': 'Darius', 'amzius': 26, 'hobiai': ['tenisas', 'dviraciai']}
{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai']}

In [22]:
someone = {
    True: 'tiesa',
    False: 'False',
    5: 'penki'
}
print ( someone[True] )
print ( someone[5] )

tiesa
penki

In [24]:
print()

In [28]:
my_tuple = ( 45,57 )
print (type (my_tuple) )
print (type (someone) )
print (type (me[ 'hobiai' ]) )

<class 'tuple'>
<class 'dict'>
<class 'list'>

In [29]:
me[0]

KeyError: 0

In [30]:
me['neegzistuojantis_raktas']

KeyError: 'neegzistuojantis_raktas'

In [34]:
zmones = [
    {'vardas': 'Jonas', 'amzius': 35},
    {'vardas': 'Petras', 'amzius': 50}
]
print (zmones)
print (zmones[0]['vardas'])
for zmogus in zmones:
    print (zmogus['vardas'])

[{'vardas': 'Jonas', 'amzius': 35}, {'vardas': 'Petras', 'amzius': 50}]
Jonas
Jonas
Petras

In [36]:
print (me)
print (len(me) )

{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai']}
3

## DICTIONARY IS MUTABLE. BE CAREFULL

look at lesson 3

In [39]:
print (me)
me['pavarde'] = 'Grigaliunas'
print (me)

{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai'], 'pavarde': 'Grigaliunas'}
{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai'], 'pavarde': 'Grigaliunas'}

In [42]:
# me.clear() # istrina viska
me['pavarde'] = 'Grigaliunas'
print (me)
del me['pavarde'] # istrina konkrecia pora pagal raktazodi
print (me)

{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai'], 'pavarde': 'Grigaliunas'}
{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai']}
{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai'], 'pavarde': 'Grigaliunas'}

In [44]:
me['pavarde'] = 'Grigaliunas'
print (me)
print ( me.pop('pavarde') )
print (me)

{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai'], 'pavarde': 'Grigaliunas'}
Grigaliunas
{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai']}

In [45]:
{'vardas': 'Darius', 'amzius': 27, 'hobiai': ['tenisas', 'dviraciai'], 'pavarde': 'Grigaliunas'}.pop('pavarde')

'Grigaliunas'

In [50]:
skaicius = 1
del skaicius
someone = {'vardas': 'Darius', 'amzius': 27}
del someone
# print (someone) # already deleted

NameError: name 'someone' is not defined

In [55]:
me['hobiai'] = ['tenisas', 'dviraciai']
print ( me.popitem() )
print(me)

('hobiai', ['tenisas', 'dviraciai'])
{'vardas': 'Darius', 'amzius': 27}

In [54]:
print(me)

{'vardas': 'Darius', 'amzius': 27}

In [60]:
# me['neegzistuojantis_raktas'] # klaida
print (me.get('neegzistuojantis_raktas') ) # nera klaidos
print (me.get('neegzistuojantis_raktas', 'nerastas') )
print (me.get('neegzistuojantis_raktas', 0) )

None
nerastas
0

In [61]:
nauji_duomenys = { 'amzius': 28, 'hobiai': ['tenisas', 'dviraciai', 'futbolas'], 'masina': 'Tesla' }
me.update( nauji_duomenys )
print (me)

{'vardas': 'Darius', 'amzius': 28, 'hobiai': ['tenisas', 'dviraciai', 'futbolas'], 'masina': 'Tesla'}

In [62]:
for value in me.values():
    print (value)

Darius
28
['tenisas', 'dviraciai', 'futbolas']
Tesla

In [63]:
for key in me.keys():
    print (key)

vardas
amzius
hobiai
masina

In [66]:
for key, value in me.items():
    print (f'key is {key} with a value of: {value}')

key is vardas with a value of: Darius
key is amzius with a value of: 28
key is hobiai with a value of: ['tenisas', 'dviraciai', 'futbolas']
key is masina with a value of: Tesla

In [67]:
twitter_post = {
  "created_at": "Tue Feb 27 21:11:40 +0000 2018",
  "id": 968594506663669800,
  "id_str": "968594506663669760",
  "text": "RT @honeydrop_506: 180222 ICN #백현 #BAEKHYUNnn나의 겨울과 너nn#iHeartAwards #BestFanArmy #EXOL @weareoneEXO https://t.co/hg7I3xAlBg",
  "truncated": False,
  "in_reply_to_status_id": None,
  "in_reply_to_status_id_str": None,
  "in_reply_to_user_id": None,
  "in_reply_to_user_id_str": None,
  "in_reply_to_screen_name": None,
  "user": {
    "id": 4448809940,
    "id_str": "4448809940",
    "name": "ayah",
    "screen_name": "lovbyun",
    "location": "bbh iu jjh pcy kjd dks",
    "url": "https://curiouscat.me/baekhyun-l",
    "description": "hi hello I love exo",
    "translator_type": "none",
    "protected": False,
    "verified": False,
    "followers_count": 1142,
    "friends_count": 125,
    "listed_count": 20,
    "favourites_count": 5712,
    "statuses_count": 4011,
    "created_at": "Fri Dec 04 03:44:59 +0000 2015",
    "utc_offset": -28800,
    "time_zone": "Pacific Time (US & Canada)",
    "geo_enabled": False,
    "lang": "en",
    "contributors_enabled": False,
    "is_translator": False,
    "profile_background_color": "000000",
    "profile_background_image_url": "http://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_image_url_https": "https://abs.twimg.com/images/themes/theme1/bg.png",
    "profile_background_tile": False,
    "profile_link_color": "F58EA8",
    "profile_sidebar_border_color": "000000",
    "profile_sidebar_fill_color": "000000",
    "profile_text_color": "000000",
    "profile_use_background_image": False,
    "profile_image_url": "http://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_image_url_https": "https://pbs.twimg.com/profile_images/967130320259526656/0xZ-wxXJ_normal.jpg",
    "profile_banner_url": "https://pbs.twimg.com/profile_banners/4448809940/1519340670",
    "default_profile": False,
    "default_profile_image": False,
    "following": None,
    "follow_request_sent": None,
    "notifications": None
  },
}

In [70]:
twitter_post[ 'user' ][ 'friends_count' ]

125

# Set

In [73]:
my_set = { 100,1,2,3,4,1,1,1,1,'a','b' }
print(my_set)

{1, 2, 3, 100, 4, 'a', 'b'}

In [74]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [76]:
print (5 in my_set)
print (1 in my_set)

False
True

In [79]:
print(my_set)
len(my_set)

{1, 2, 3, 100, 4, 'a', 'b'}

7

In [84]:
my_set = {1, 2, 3, 100, 4, 'a', 'b'}
my_set.add(4)
print(my_set)
my_set.add(254)
print(my_set)
my_set.update( {300,400,1 } )
print(my_set)

{1, 2, 3, 100, 4, 'a', 'b'}
{1, 2, 3, 100, 4, 'a', 254, 'b'}
{1, 2, 3, 100, 4, 'a', 300, 'b', 400, 254}

In [86]:
my_set = {1, 2, 3, 100, 4, 'a', 300, 'b', 400, 254}
my_set.remove(4)
my_set.remove(4) # klaida, nes neegzistuoja

KeyError: 4

In [87]:
my_set = {1, 2, 3, 100, 4, 'a', 300, 'b', 400, 254}
my_set.discard(4)
my_set.discard(4) # klaidos nera

In [90]:
my_set_2 = {2,400,1000}
print (my_set)
print (my_set_2)
print (my_set.union(my_set_2) )

{1, 2, 3, 100, 'a', 300, 'b', 400, 254}
{400, 1000, 2}
{1, 2, 3, 100, 'a', 1000, 300, 'b', 400, 254}

In [91]:
print (my_set.difference(my_set_2) )

{1, 'a', 3, 100, 300, 'b', 254}

In [92]:
print (my_set.intersection(my_set_2) )

{400, 2}

In [95]:
small_set = {2,4}
small_set_2 = {2,4,6}
big_set = {1,2,3,4,5}
print(small_set.issubset(big_set) )
print(small_set_2.issubset(big_set) )
print(big_set.issuperset (small_set) )

True
False
True

In [98]:
# option 1
big_set = {1,2,3,4,5}
print (big_set)
big_set.discard(3)
big_set.add(7)
print (big_set)

{1, 2, 3, 4, 5}
{1, 2, 4, 5, 7}

In [99]:
# option 2
big_set = {1,2,3,4,5}
print (big_set)
tmp_list = list( big_set )
tmp_list[2] = 7
big_set = set( tmp_list )
print (big_set)

{1, 2, 3, 4, 5}
{1, 2, 4, 5, 7}